/* alt template */
html, body{
    height: 100%;
    margin: 0;
}
#wrapper{
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-gsb{
    /*background-color: #226B5A;*/
    background-color: #009688;
    background-image: none;
}
.navbar-brand{
    padding: 0 15px;
}
.navbar-gsb ul.nav li a{
    color: ghostwhite;
}
.navbar-gsb ul.nav li a:hover{
    color: black;

}
.navbar-gsb  ul.dropdown-menu li a{
    color: black;
}
.nav-logo{
    max-height: 100%;
}
footer{
    height:50px;
    background-color:#2B7A91;
    color: ghostwhite;

    width: 100%;
    padding: 15px;
    /*margin: 0 auto ;*/
}
div.footer-text{
    position: relative;
    left: 40%;
    width: 200px;
}
table, form{
    margin: 20px;
}
[type="submit"]{
    margin-top: 14px;
}
form.inline-form, .inline-form [type="submit"]{
    margin-top: 0;
    display:inline;
}
